
/* Style the tab buttons */
.tablink {
    background-color: #c4c0c0;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.333%;
  }

.corner-top-both-bevel {
    border-color: transparent transparent red transparent;
    border-width: 0 100px 100px 100px;
  }

  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #777;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    border-top: 10px;
    text-align: center;
    background-color : #8f8c8c;
    height: 200px;
  }
  
  /* Style each tab content individually */
  #tab1 {background-color : #8f8c8c;}
  #tab2 {background-color: #8f8c8c;}
  #tab3 {background-color:#8f8c8c;}
